<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <!-- dette er en kommentar i HMTL -->
    <link rel="stylesheet" th:href="@{css/mystyle.css}" href="../static/css/mystyle.css" />
    <style>
        /* dette er en kommentar i CSS og/eller JS */
        p {
            /* color i either constant or hexadecimal red, green, blue (rgb) */
            color: #0000ff;
             /* display: block; */
             /* display: inline; */
        }
    </style>
</head>
<body>
    <div>
        <h1>Overskrift på siden</h1>
        <p class="myPadding">Tekst</p>
        <p class="myPadding">Mere tekst <span>Span tekst</span> <span>Mere span tekst</span>
        </p>
    </div>

    <div>
        <a th:href="@{about}" href="about.html">Klik her for at se billede</a>
    </div>

</body>
</html>